<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SuperDARN</title>

    <!-- Bootstrap core CSS-->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sd-base.css" rel="stylesheet">

    <!-- Include JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
  </head>


  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-danger static-top">

      <a class="navbar-brand mr-1" href="/">SuperDARN Network</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/rt_display">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Content - 1</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rt_conv">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Content - 2</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rt_dscvr">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Content - 3</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Real time solar-wind and IMF feed</a>
            </li>
          </ol>


          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              DSCVR team and NOAA</div>
            <div class="card-body">
              <a href="https://www.swpc.noaa.gov/products/real-time-solar-wind" target="_blank">Click here to see real time solar wind data</a>
              <p class="text-justify">The Deep Space Climate Observatory, or DSCOVR mission monitors solar-wind and the Interplanetary Magnetic Field (IMF). DSCOVR will succeed NASA's Advanced Composition Explore's (ACE) role in supporting solar-wind alerts and warnings from the L1 orbit. The real time solar-wind data is provided by NOAA.</p>
            </div>

          </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © SuperDARN 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/vendor/chart.js/Chart.min.js"></script>
    <script src="static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sd-base.min.js"></script>

  </body>

</html>
